/* This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. */
html {
  width: 100%;
}

body {
  background: #202225;
  color: #d1d1d1;
  font-family: Arial;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
}

.input-container {
  width: 70%;
  margin: 0 auto;
}

.element p {
  margin: 0px auto;
}

input, select {
  background: #36393F;
  color: #ffffff;
  border: 1px solid #ccc;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  cursor: pointer;
  border: none;
}

input[type=submit]:hover {
  background-color: #00007e;
}

.element ul li {
  list-style-type: none;
}

.element ul li input {
  display: inline;
  margin: 8px 0px;
  width: 50%;
}

.element ul li label {
  display: inline-flex;
  margin: 8px 0px;
  width: 40%;
}
