html {
  width: 100%;
}

body {
  background: #36393F;
  color: #d1d1d1;
  font-family: Arial;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
}

.error {
  color: #ff0000;
}

.success {
  color: #00ff00;
}

.input[type=text] {}