/* This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. */
html {
  width: 100%;
}

body {
  background: #202225;
  color: #e3e3e3;
  font-family: Arial;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
}

.content {
  min-height: calc(100vh - 129px);
}

.fake-link {
  color: #00007e;
  text-decoration: underline;
  cursor: pointer;
}

.text {
  color: #e3e3e3;
  margin-top: 2px;
  margin-left: 10%;
  margin-right: 50px;
  margin-bottom: 0px;
}

.body a {
  text-align: center;
  color: #e3e3e3;
  text-decoration: none;
}

.body a:hover {
  color: #00007e;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  margin: 0px 0px;
  padding: 0px 0px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #202225;
}

::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 5px;
}

.topnav {
  background-color: #36393F;
  overflow: hidden;
}

.topnav .right {
  float: right;
  color: #00007e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the links inside the navigation bar */
.topnav .cat {
  float: left;
  color: #e3e3e3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-mobile .cat {
  float: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e3e3e3;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00007e;
  color: #e3e3e3;
}

footer {
  background: #36393F;
  font-family: Arial;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
}

.topnav-mobile {
  float: none;
  display: block;
}

.topnav-mobile a {
  float: none;
  display: block;
}

.topnav #myLinks {
  display: none;
}

.font-form h1 {
  color: #00007e;
  padding-left: 7px;
}

.font-form h2 {
  color: #e3e3e3;
  font-size: 20px;
  padding-left: 7px;
}

.font-form p {
  color: #e3e3e3;
  font-size: 17px;
}

.footer {
  display: block
}

.footer small {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  position: relative !important;
  display: flex !important;
  justify-content: space-between !important;
  font-size: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #e3e3e3;
}

.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto
}

.width-full {
  width: 100% !important
}

.px-3 {
  padding-right: 16px !important;
  padding-left: 16px !important
}

.position-relative {
  position: relative !important
}

.d-flex {
  display: flex !important
}

.flex-justify-between {
  justify-content: space-between !important
}

.pt-6 {
  padding-top: 40px !important
}

.pb-2 {
  padding-bottom: 8px !important
}

.mt-6 {
  margin-top: 40px !important
}

.f6 {
  font-size: 12px !important
}
}

.text-gray {
  color: #586069 !important
}

.border-top {
  border-top: 1px #e1e4e8 solid !important
}

.border-gray-light {
  border-color: #eaecef !important
}

.list-style-none {
  list-style: none !important
}

.flex-wrap {
  flex-wrap: wrap !important
}

.flex-justify-center {
  justify-content: center !important
}

.pb-6 {
  padding-bottom: 40px !important
}

.mr-3 {
  margin-right: 16px !important
}

.d-none {
  display: none !important
}

.logo-white-fill {
  fill: #e3e3e3;
}

.vertical-align {
  align-items: center;
}

.footer table {
  width: 100%;
  margin-left: 5%;
  margin-right: 2%;
  text-align: center;
}

.footer>* {
  padding: 1px 0px;
  border: 0px 0px;
  margin: 0px 0px;
}

.footer p {
  text-align: center;
  display: inline;
  color: #e3e3e3;
}

.footer>p {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline;
  /* For IE7 */
  zoom: 1;
  /* Trigger hasLayout */
  width: 24%;
  text-align: center;
}

.footer img {
  height: 30px;
  width: 30px;
  border-radius: 20%;
}

.footer a {
  text-align: center;
  color: #e3e3e3;
  text-decoration: none;
}

.footer a:hover {
  color: #00007e;
}

.footer_table td {
  width: 25%;
}
