/* This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. */
body {
  background: #202225;
  font-family: Arial;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1px;
  margin-bottom: 0px;
}

h1 {
  color: #e3e3e3;
  font-size: 500%;
}

h2 {
  color: #e3e3e3;
  font-size: 250%;
}

p {
  color: #e3e3e3;
}

a {
  color: #00007e;
  text-decorat: none;
}

a:hover {
  color: #e3e3e3;
}

.error-wraper {
  margin: 5% 5%;
  margin-left: 10%;
}

.error-title {
  width: 100%;
}

.error-content {
  width: 100%;
}

.error-content .image {
  width: 40%;
  float: right;
}

img {
  width: 100%;
  height: auto;
}

.error-content .error-left {
  width: 49%;
  float: left;
}
