.bullets {
  list-style-type: none;
}

.bullets li {
  float: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #202225;
  padding: 8px;
}

tr:nth-child(even){background-color: #36393F;}

tr:hover {background-color: #535863;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00007e;
  color: #e3e3e3;
}

a {
  text-align: center;
  color: #e3e3e3;
  text-decoration: none;
}

a:hover {
  color: #00007e;
}

.white_text{
  color: #e3e3e3;
}

.name {
  font-size: 60px;
}

.info_text {

}
