/* This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. */
.bullets {
  list-style-type: none;
}

.bullets li {
  float: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.results {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #202225;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #36393F;
}

tr:hover {
  background-color: #535863;
}

thead {
  background-color: #00007e;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #e3e3e3;
}

a {
  text-align: center;
  color: #e3e3e3;
  text-decoration: none;
}

a:hover {
  color: #00007e;
}

.white_text {
  color: #e3e3e3;
}

.name {
  font-size: 60px;
}

.info_text {}

.button {
  background: #36393F;
  color: #ffffff;
  border: 1px solid #ccc;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  color: #ffffff;
}

.button:hover {
  background-color: #00007e;
  color: #ffffff;
}
