<!-- This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. -->

{% extends "template.html" %}
{% block title %}FIX ME{% endblock %}
{% set active=(request.path.split("/")[-1].strip()) %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/add_values.css" />
<link type="text/css" rel="stylesheet" href="static/css/reports.css">
{% endblock %}



{% block content %}

<div class="input-container">
  <h1>Download: {{ name }}</h1>
  <table>
    {% for i in data %}
    <tr>
      <th>{{ i[0] }}</th>
      <th><a href="{{ i[1] }}">download</a></th>
    </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}