{% extends "template_base.html" %}
{% block title %}Error{% endblock %}

{% block head %}
<title>{{ error_num }} Error</title>
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/error.css" />
{% endblock %}



{% block content %}

<div class="error-wraper">
  <div class="error-title">
    <h1>Error {{ error_num }}</h1>
  </div>


  <div class="error-content">
    <div class="error-left">
      <div class="error-text">
        <p>{{ error_txt }}</p>
      </div>

      <div class="return-links">
        <h2>Return to:</h2>
        {% for i in [("Home","/home")] %}
        <a href="{{i[1]}}">{{i[0]}}</a>
        {% endfor %}
      </div>
    </div>

    <div class="image">
      <img src="\static\images\error.png">
    </div>
  </div>
</div>







{% endblock %}