<!-- This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. -->

{% extends "template_base.html" %}
{% block title %}Error{% endblock %}

{% block head %}
<title>{{ error_num }} Error</title>
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/error.css" />
{% endblock %}



{% block content %}

<div class="error-wraper">
  <div class="error-title">
    <h1>Error {{ error_num }}</h1>
  </div>


  <div class="error-content">
    <div class="error-left">
      <div class="error-text">
        <p>{{ error_txt }}</p>
      </div>

      <div class="return-links">
        <h2>Return to:</h2>
        {% for i in [("Home","/home")] %}
        <a href="{{i[1]}}">{{i[0]}}</a>
        {% endfor %}
      </div>
    </div>

    <div class="image">
      <img src="\static\images\error.png">
    </div>
  </div>
</div>







{% endblock %}
