{% extends "template.html" %}
{% block title %}Add{% endblock %}
{% set active='add_event' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/add_values.css" />
{% endblock %}



{% block content %}
<h1>Add event</h1>
{% if error %} <p class="error">{{error}}</p> {% endif %}
{% if success %} <p class="success">{{success}}</p> {% endif %}
<form action="">


  <p>Event name:</p>
  <input type="text" name="name" value="{{fields["name"]}}">
  <br>

  <p>Event time:</p>
  <input type="time" name="time" value="{{fields["time"]}}">
  <br>

  <p>Event age category:</p>
  <select name="track_feild ">
    <option value="under12">Under 12 years</option>
    <option value="under16">Under 16 years</option>
    <option value="under18">Under 18 years</option>
  </select>
  <!-- TODO: get age categorys from database -->
  <br>

  <p>Track or field:</p>
  <select name="track_feild ">
    <option value="track ">Track event</option>
    <option value="field ">Field event</option>
  </select>
  <br>

  <p>Event scoring:</p>
  <select name="timed_score_distance ">
    <option value="timed">Timed event</option>
    <option value="score">Scored event</option>
    <option value="distance">Distance event</option>
  </select>
  <br>

  <p>Event participant gender:</p>
  <select name="gender">
    {% set options = dict({"male":"Male", "female":"Female", "both":"Both", "chicken":"Chicken", "potato":"Potato"}) %}
    {% for i in options %}
    <option {% if fields["gender"] == i %} selected {% endif %} value="{{i}}">{{options[i]}}</option>
    {% endfor %}
    <option {% if fields["gender"] == "idk" %} selected {% endif %} value="idk">It's <script type="text/javascript">
        document.write(new Date().getFullYear());

      </script> you can't stop me</option>
  </select>
  <br>



  <br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
