{% extends "template.html" %}
{% block title %}Add{% endblock %}
{% set active='add_event' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/add_values.css" />
{% endblock %}



{% block content %}
<h1>Add event</h1>
{% if error %} <p class="error">{{error}}</p> {% endif %}
{% if success %} <p class="success">{{success}}</p> {% endif %}
<form action="">


  <p>Event name:</p>
  <input type="text" name="name" value="{{fields["name"]}}">
  <br>

  <p>Event time:</p>
  <input type="time" name="time" value="{{fields["time"]}}">
  <br>

  <p>Event age category:</p>
  <select name="age_group">
    <!-- get age-groups(options) from datbase -->
    {% set options = dict({"under18":"Under 18 years", "under20":"Under 20 years"}) %}
    {% for i in options %}
    <option {% if fields["age_group"] == i %} selected {% endif %} value="{{i}}">{{options[i]}}</option>
    {% endfor %}
  </select>
  <br>


  <p>Track or field:</p>
  <select name="track_feild">
    {% set options = dict({"track":"Track event", "field":"Field event"}) %}
    {% for i in options %}
    <option {% if fields["track_feild"] == i %} selected {% endif %} value="{{i}}">{{options[i]}}</option>
    {% endfor %}
  </select>
  <br>

  <p>Event scoring:</p>
  <select name="timed_score_distance">
    {% set options = dict({"timed":"Timed event", "score":"Scored event", "distance":"Distance event"}) %}
    {% for i in options %}
    <option {% if fields["timed_score_distance"] == i %} selected {% endif %} value="{{i}}">{{options[i]}}</option>
    {% endfor %}
  </select>
  <br>

  <p>Event participant gender:</p>
  <select name="gender">
    {% set options = dict({"male":"Male", "female":"Female", "both":"Both", "chicken":"Chicken", "potato":"Potato"}) %}
    {% for i in options %}
    <option {% if fields["gender"] == i %} selected {% endif %} value="{{i}}">{{options[i]}}</option>
    {% endfor %}
    <option {% if fields["gender"] == "idk" %} selected {% endif %} value="idk">It's <script type="text/javascript">
        document.write(new Date().getFullYear());

      </script> you can't stop me</option>
  </select>
  <br>



  <br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
