<!-- This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. -->

{% extends "template.html" %}
{% block title %}FIX ME{% endblock %}
{% set active=(request.path.split("/")[-1].strip()) %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/add_values.css" />
<link type="text/css" rel="stylesheet" href="static/css/reports.css">
{% endblock %}



{% block content %}

<div class="input-container">
  <br>
  <br>

  <h1>{{ request.args.get('name') }} - {{ request.args.get('type') }} for {{ request.args.get('gender') }}</h1>

  <table class="results">
    <thead>
      <th><b>Name</b></th>
      <th><b>Year</b></th>
      <th><b>Date of birth</b></th>
      <th><b>Result</b></th>
      <th><b>Select</b></th>
    </thead>
    <tbody>

      {% for i in get_event_stats(request.args.get('id')) %}
      <tr>
        <th>{{ i[0] }}</th>
        <th>{{ i[1] }}</th>
        <th>{{ i[2] }}</th>
        <th>{{ i[3] }}</th>
        <th><a href="{{i[4]}}">Select</a></th>
      </tr>
      {% endfor %}
      <form class="" action="" method="post" novalidate="novalidate">
        <tr>
          <th>{{ form.name() }}</th>
          {% for error in form.name.errors %}
          <span class="error"> {{ error }}</span>
          {% endfor %}
          <th></th>
          <th></th>
          <th>{{ form.result() }}</th>
          {% for error in form.result.errors %}
          <span class="error"> {{ error }}</span>
          {% endfor %}
          <th>{{ form.submit() }}</th>
        </tr>
        {{ form.csrf_token }}
      </form>
    </tbody>
  </table>
  <br>
</div>


{% endblock %}
