{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% set active=(request.path.split("/")[-1].strip()) %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/add_values.css" />
{% endblock %}



{% block content %}

{% if request.args.get('error') %}<p class="error">{{ request.args.get('error') }}</p> {% endif %}
{% if request.args.get('success') %}<p class="success">{{ request.args.get('success') }}</p> {% endif %}


<div class="input-container">
  <form class="input_form" action="" method="post">
    {% for i in elements %}
    <div class="element">
      {% with display_name=i.display_name, value=i.value, var_name=i.var_name, required=i.required, custom=i.custom%}
      {% include i.template %}
      {% endwith %}
      <br>
    </div>

    {% endfor %}
  </form>
</div>


{% endblock %}