{% extends "template.html" %}
{% block title %}Add{% endblock %}
{% set active='add_person' %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="static/css/add_values.css" />
{% endblock %}



{% block content %}
<h1>Add person</h1>
{% if error %} <p class="error">{{error}}</p> {% endif %}
{% if success %} <p class="success">{{success}}</p> {% endif %}
<form action="">
  {% set form_fields = dict({"name_first":"First name", "name_last":"Last name", "gender":"Gender", "year":"Year", "house":"House (Element)", "dob":"Date of birth", "teacher":"Teacher", "student_id":"Student id (from student card)"}) %}
  {% for i in form_fields %}
  <p>{{form_fields[i]}}:</p>
  <input type="text" name="{{i}}" value="{{fields[i]}}">
  <br>
  {% endfor %}
  <br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
