<!-- This file is part of Track In Time Server.

Track In Time Server is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Track In Time Server is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Track In Time Server.  If not, see <https://www.gnu.org/licenses/>. -->

<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <title>{% block title %}{% endblock %} - Carnival system</title>

  <div class="topnav">
    {% if not newpages %}{% set newpages = dict() %}{% endif %}
    {% set nav_list = dict({"home":"Home", "add_student":"Add Student", "add_event":"Add event"}, **newpages) %}
    {% for i in nav_list %}
    <a class="cat {% if active==i %}active{%endif %} {{i}}" href="{{ url_for(i) }}">{{nav_list[i]}}</a>
    {% endfor %}
  </div>
  {% endblock %}
</head>

<body>
  <div class="content">{% block content %}{% endblock %}</div>
  <div class="footer">
    <table class="footer_table">
      <tr>
        <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FEADU4M8YTJNE&source=url">Donate To the creators</a></td>
        <td><a href="https://github.com/JamesPerisher" target="_blank"><img class="img" src="https://avatars1.githubusercontent.com/u/37967469?s=460&v=4"> </a> </td>
        <td> <a href="https://github.com/JKookaburra" target="_blank"><img class="img" src="https://avatars3.githubusercontent.com/u/10250087?s=460&v=4"> </a> </td>
      </tr>
    </table>
  </div>
</body>

</html>
